<%- include("./head.ejs") %>

<section>
    <div class="foo-el"></div>
    <div class="foo-el">
        <span>Miami di Mersinaj Silvana</span>
        <span>P.IVA 0000000000</span>       
    </div>
    <div class="foo-el">
        <span>Piazza Roma, 25</span>
        <span>33086 Montereale Valcellina (PN)</span> </div>
    <div class="foo-el">
        <span>Tel. 0427 799671</span>
        <span>Cell. 320 372 3875</span>
    </div>
    <div class="foo-el"></div>
</section>

<%- include("footer.ejs") %>