<footer class="footer">
    <div class="foo-el"></div>
    <div class="foo-el">Miami di Mersinaj Silvana <br>
        P.IVA 0000000000
        </div>
    <div class="foo-el">
    Piazza Roma, 23B <br>
    33086 Montereale Valcellina (PN) </div>
    <div class="foo-el"> Tel. 0427 799671 <br>
    Cell. 320 372 3875 </div>
    <div class="foo-el"></div>
    
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="index.js"></script>
</html>