<footer id="footer" class="footer">
    <div class="foo-el"></div>
    <div class="foo-el">
        <span>Miami di Mersinaj Silvana</span>
        <span>P.IVA 0000000000</span>       
    </div>
    <div class="foo-el">
        <span>Piazza Roma, 25</span>
        <span>33086 Montereale Valcellina (PN)</span> </div>
    <div class="foo-el">
        <span>Tel. 0427 799671</span>
        <span>Cell. 320 372 3875</span>
    </div>
    <div class="foo-el"></div>
    
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="index.js"></script>
</html>