<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/762298532c.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet"  href="/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div></div>
            <div class="logo-box">
                <a href="/"> Pizzeria Miami</a>
            </div>
            <div class="nav-menu">
                <a href="/menu"> Menu Pizze</a>
                <a href=""> Menu Cucina</a>
                <a href=""> Contatti</a>
            </div>
            <div></div>
        </div>
        <div>
        </div>
        <div class="nav-container2">
            <i class="fa fa-light fa-xmark hide"></i>
            <i class="fa fa-sharp fa-light fa-bars"></i>
            <a href=""> Pizzeria Miami </a>
        </div>
        <div class="nav-menu2 hide">
            <a href=""> Menu Pizze</a>
            <a href=""> Menu Cucina</a>
            <a href=""> Contatti</a>
        </div>
    </nav>
