<%- include("./head.ejs") %>
    <section class="section1">
        <div class="sec-container">
            <div class="filler"></div>
            <div class="sec-par sp-left">
                <!-- <div class="sec1-title">
                    Dove il gusto incontra la leggerezza
                </div> -->
            <img class="logo-img" src="/images/FlyerRisorsa 1.png" alt="">
               <div class="sec1-payoff">
                Più di un luogo dove mangiare è un'esperienza sensoriale che ti catturerà fin dal primo olfatto.
               </div>
               <div>
            <div class="sec-par sp-right">
            </div>
            <div class="filler">
             <form action="/menu">
                <button class="btnMenu" >Vai al Menu</button>
             </form>
            </div>
        </div>
    </section>
    <!-- <div class="sec2-title"> </div> -->
    <!-- <section class="section2">
       
    </section> -->
    <!-- <section class="section3" >

    </section> -->
    <%- include("footer.ejs") %>
    <%- include("credits.ejs") %>