<%- include("./head.ejs") %>
    <section class="section1">    
                <div></div>           
                <img class="logo-img" src="/images/FlyerRisorsa 1.png" alt="">
                <div class="sec1-payoff">
                    <span class="payoff">Più di un luogo dove mangiare: un'esperienza sensoriale che ti catturerà fin dal primo olfatto.
                </div>
                <div>
                    <div class="sec-par sp-right">
                    </div>
                    <div class="filler">
                        <form action="/menu">
                            <button class="btnMenu">Vai al Menu</button>
                        </form>
                    </div>
                </div>
    </section>

    <section class="section2">
        <div class="orario-title">Orario Settimanale</div>
        <div class="orario" id="orario">
            <div class="weekDays">
                <span>Giorno</span> <br>
                <span>Lunedì</span>
                <span>Martedì</span>
                <span>Mercoledì</span>
                <span>Giovedì</span>
                <span>Venerdì</span>
                <span>Sabato</span>
                <span>Domenica</span>
            </div>

            <div class="hoursMorning">
                <span>Mattina</span> <br>
                <span>10.30 - 14.00</span>
                <span>Chiuso</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
            </div>

            <div class="hoursAfternoon">
                <span>Sera</span> <br>
                <span>17.00 - 22.00</span>
                <span>Chiuso</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
            </div>
        </div>
        </div>
    </section>

    <section class="section3" >
        <span class="sec3-tit">Menu Fisso</span>
        <span class="sec3-subtit sec3-media" >Da Lunedì a Venerdì:</span>
        <div class="sec3-subcont sec3-media">
            <!-- <div></div> -->
            <div class="menuFisso">
                <span>Completo: Primo, Secondo, Contorno, 1/4 Vino, 1/2 Acqua, Caffè</span>
                <span>Solo Primo: Primo, Contorno, 1/4 Vino, 1/2 Acqua, Caffè</span>
                <span>Solo Secondo: Secondo, Contorno, 1/4 Vino, 1/2 Acqua, Caffè</span>
            </div>
            <div class="menufisso-price">
                <span>€ 13,00</span>
                <span>€ 11,00</span>
                <span>€ 10,00</span>
            </div>
            <!-- <div></div> -->
        </div>
    </section>
    <%- include("footer.ejs") %>
        <%- include("credits.ejs") %>