<%- include("./head.ejs") %>
    <section class="section1">
        <div class="sec-container">
            <div class="filler"></div>
            <div class="sec-par sp-left">
                <!-- <div class="sec1-title">
                    Dove il gusto incontra la leggerezza
                </div> -->
            <img class="logo-img" src="/images/FlyerRisorsa 1.png" alt="">
               <div class="sec1-payoff">
                Più di un luogo dove mangiare: un'esperienza sensoriale che ti catturerà fin dal primo olfatto.
               </div>
               <div>
            <div class="sec-par sp-right">
            </div>
            <div class="filler">
             <form action="/menu">
                <button class="btnMenu" >Vai al Menu</button>
             </form>
            </div>
        </div>
    </section>
    <!-- <div class="sec2-title"> </div> -->
    <section class="section2">
        <span class="orario-title">Orario Settimanale</span>
        <div class="orario">
            <div class="weekDays">
                <span>Lunedì</span>
                <span>Martedì</span>
                <span>Mercoledì</span>
                <span>Giovedì</span>
                <span>Venerdì</span>
                <span>Sabato</span>
                <span>Domenica</span>
            </div>

            <div class="hoursMorning">
                <span>10.30 - 14.00</span>
                <span>Chiuso</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
                <span>10.30 - 14.00</span>
            </div>

            <div class="hoursAfternoon">
                <span>17.00 - 22.00</span>
                <span>Chiuso</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
                <span>17.00 - 22.00</span>
            </div>
           </div>
        </div>
    </section>  
    <!-- <section class="section3" >

    </section> -->
    <%- include("footer.ejs") %>
    <%- include("credits.ejs") %>