/* MEDIA 1 */
@media screen and (max-width: 1400px) {
    .ingMargherita {
        margin-bottom: -40px;
        margin-left: 20px;
        visibility: hidden;
    }
}

    @media screen and (max-width: 800px) {
        .section1 {
            background-color: var(--secondary);
            background-image: url(/public/images/section1.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode:multiply
            
        }

        .sec2-title {
            display: grid;
            justify-content: center;
            background-color: var(--primary);
            color: var(--fcolor);
            font-size: 40px ;
            padding-top: 100px;
            padding-bottom: 95px;
        }

    .sec1-title {
        display: grid;
        justify-content: center;
        font-size: 40px;
        
    }
    
    .sec1-payoff {
        display: grid;
        justify-content: center;
        font-size: 30px;
    }

    .logo-img {
        display: flex;
        justify-self: center;
        align-content: center;
        height: 150px;
        width: 350px;
        padding-top: 20px;
    }

    .foo-el {
        display: grid;
        justify-content: center;
        font-size: smaller;
        /* margin-left: 10px; */
        padding: 10%;
    }

    .p-name , .p-ingr , .p-price {
        font-size: small;
        padding: 2px;
    }

    .p-name {
        width: 80px;
    }

    .p-ingr {
        width: 150px;
    }
    
    .p-price {
        width: 50px;
    }

    .hoursMorning, .hoursAfternoon{
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 100px;
        font-size: medium;
    }

    .weekDays {
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 50px;
        font-size: medium;
    }

    .section2 {
        /* background-color: var(--primary); */
        background-image: url(/images/clap.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply;
        background-position: end;
        display: grid;
        /* justify-content: center; */
        justify-items: center;
        grid-template-rows: auto;
        padding-top: 50px;    
    }

    .btnMenu {
        font-family: var(--mainFont);
        font-weight: 500;
        font-size: xx-large;
        color: var(--fcolor);
        background-color: var(--secondary);
        border-radius: 15px;
        cursor: pointer;
    }

    .payoff {
        background-color: var(--background-opacity);
        /* padding: 10px; */
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-blend-mode: soft-light;
    }

    .menuFisso {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        font-size: small;
    }

    .menufisso-price {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: end;
        align-items: center;
        font-size: small;
    }
}
/* END MEDIA 1 */

/* MEDIA 2 */

@media screen and (max-width: 800px) {
    .section1 {
        background-color: var(--secondary);
        background-image: url(/public/images/section1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply
        
    }
    
    .sec2-title {
        display: grid;
        justify-content: center;
        background-color: var(--primary);
        color: var(--fcolor);
        font-size: 40px ;
        padding-top: 100px;
        padding-bottom: 95px;
    }

    .logo-img {
        display: flex;
        justify-self: center;
        align-content: center;
        height: 150px;
        width: 350px;    
    }
    
    .filler {
        padding: 30px;
    }

    footer {
        font-size: medium;
    }

    .foo-el {
        display: grid;
        justify-content: center;
        /* margin-left: 10px; */
        font-size: smaller;
        padding: 10%;
    }

    .p-name , .p-ingr , .p-price {
        font-size: small;
        padding: 2px;
    }

    .p-name {
        width: 80px;
    }

    .p-ingr {
        width: 150px;
    }
    
    .p-price {
        width: 50px;
    }

    .hoursMorning, .hoursAfternoon{
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 100px;
        font-size: medium;
    }

    .weekDays {
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 50px;
        font-size: medium;
    }

    .section2 {
        /* background-color: var(--primary); */
        background-image: url(/images/clap.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply;
        background-position: end;
        display: grid;
        /* justify-content: center; */
        justify-items: center;
        grid-template-rows: auto;
        padding-top: 50px;    
    }

    .btnMenu {
        font-family: var(--mainFont);
        font-weight: 500;
        font-size: xx-large;
        color: var(--fcolor);
        background-color: var(--secondary);
        border-radius: 15px;
        cursor: pointer;
    }

    .payoff {
        background-color: var(--background-opacity);
        /* padding: 10px; */
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-blend-mode: soft-light;
    }

    .nav-menu a {
        margin-left: 15px;
    }
    
    .menuFisso {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        font-size: small;
    }

    .menufisso-price {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: end;
        align-items: center;
        font-size: small;
    }
    
}
/* END MEDIA 2 */


/* MEDIA 3 */
@media screen and (max-width: 830px) {
    .nav-menu {
        visibility: hidden;
        font-size: 0;
    }

    .nav-menu a {
        margin-left: 15px;
    }
    
    
    .section1 {
        background-color: var(--secondary);
        background-image: url(/images/section1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply;
        background-position: center;  
    }

    .sec2-title {
        display: grid;
        justify-content: center;
        background-color: var(--primary);
        color: var(--fcolor);
        font-size: 40px ;
        padding-top: 100px;
        padding-bottom: 95px;
    }

    .logo-img {
        display: flex;
        justify-self: center;
        align-content: center;
        height: 150px;
        width: 350px;       
    }

    .nav-container {
        visibility: hidden;
        font-size: 0;
    }
    
    .fa-xmark , .fa-bars {
        padding: 1%;
        opacity: 100%;
        position: absolute;
        justify-self: end;
        color: var(--fcolor);
    }

    .nav-container2 {
        visibility: visible;
        background-color: var(--secondary);
        display: grid;
        justify-content: center;
        min-height: 25px;
    }
    
    .nav-menu2 {
        position: absolute;
        background-color: var(--primary);
        width: 100%;
        display: grid;
        justify-content: center;
    }   

    .sp-left {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        text-shadow: 2px 7px 10px rgb(0, 0, 0);
    }

    .sec1-title {
        display: grid;
        justify-content: center;
        font-size: 30px;
        
    }
    
    .sec1-payoff {
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        font-size: medium;
    }

    .filler {
        padding: 30px;
    }

    footer {
        font-size: medium;
    }

    .foo-el {
        display: grid;
        justify-content: center;
        font-size: smaller;
        /* margin-left: 10px; */
        padding: 10%;
    }

    .p-name , .p-ingr , .p-price {
        font-size: small;
        padding: 2px;
    }

    .p-name {
        width: 80px;
    }

    .p-ingr {
        width: 150px;
    }
    
    .p-price {
        width: 50px;
    }

    .hoursMorning, .hoursAfternoon{
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 100px;
        font-size: medium;
    }

    .weekDays {
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 50px;
        font-size: medium;
    }
    
    .section2 {
        /* background-color: var(--primary); */
        background-image: url(/images/clap.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply;
        background-position: end;
        display: grid;
        /* justify-content: center; */
        justify-items: center;
        grid-template-rows: auto;
        padding-top: 50px;    
    }
    .btnMenu {
        font-family: var(--mainFont);
        font-weight: 500;
        font-size: xx-large;
        color: var(--fcolor);
        background-color: var(--secondary);
        border-radius: 15px;
        cursor: pointer;
    }

    .payoff {
        background-color: var(--background-opacity);
        /* padding: 10px; */
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-blend-mode: soft-light;
    }

    .menuFisso {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        font-size: medium;
    }

    .menufisso-price {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: end;
        align-items: center;
        font-size: medium;
    }
    
}
/* END MEDIA 3 */


/* MEDIA 4 */
@media screen and (max-width: 700px) {

    .sec1-title {
        display: grid;
        justify-content: center;
        font-size: 25px;
        
    }
    
    .sec2-title {
        display: grid;
        justify-content: center;
        background-color: var(--primary);
        color: var(--fcolor);
        font-size: 40px ;
        padding-top: 100px;
        padding-bottom: 95px;
    }

    .filler {
        padding: 30px;
    }
    
    .logo-img {
        display: flex;
        justify-self: center;
        align-content: center;
        height: 150px;
        width: 350px;       
    }

    .section1 {
        background-color: var(--secondary);
        background-image: url(/images/section1.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply;
        background-position: center;
        /* height: 60vh; */
    }
    
    .sec1-payoff {
        display: grid;
        justify-content: center;
        font-size: 20px;
        padding: 20px;
    }

    footer {
        font-size: medium;
    }

    .foo-el {
        display: grid;
        justify-content: center;
        /* margin-left: 10px; */
        /* padding: 5px; */
        font-size:10px;
    }

    .p-name , .p-ingr , .p-price {
        font-size: small;
        padding: 2px;
    }

    .p-name {
        width: 80px;
    }

    .p-ingr {
        width: 150px;
    }
    
    .p-price {
        width: 50px;
    }

    .bianTit {
        font-size: xx-large;
    }

    .hoursMorning, .hoursAfternoon{
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 100px;
        font-size: small;
    }

    .weekDays {
        display: grid;
        justify-content: center;
        /* padding: 25px; */
        width: 50px;
        font-size: small;
    }

    .section2 {
        /* background-color: var(--primary); */
        background-image: url(/images/clap.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode:multiply;
        background-position: end;
        display: grid;
        /* justify-content: center; */
        justify-items: center;
        grid-template-rows: auto;
        padding-top: 50px;    
    }

    .btnMenu {
        font-family: var(--mainFont);
        font-weight: 500;
        font-size: xx-large;
        color: var(--fcolor);
        background-color: var(--secondary);
        border-radius: 15px;
        cursor: pointer;
    }

    .payoff {
        background-color: var(--background-opacity);
        padding: 15px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-blend-mode: soft-light;
        font-size: medium;
    }
    
    .sec3-media {
        font-size: small;
    }

    .orario-title, .sec3-tit {
        font-size: larger;
    }
    
    .menuFisso {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        font-size: small;
    }

    .menufisso-price {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: end;
        align-items: center;
        font-size: small;
    }
}
/* END MEDIA 4 */