.menu-pizze {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.col-1 {
    display: grid;
    grid-template-rows: auto;
}

.p-row {
    border: solid 1px white;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
}

.p-name {
    padding-right: 10px;
    border-right: solid 1px white;
}

.p-name, .p-ingr, .p-price {
    display: flex;
    align-items: center;
}

.bianTit {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 56px;
    display: flex;
    justify-content: center;
}
