.menu-pizze {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.col-1, .col-2, .col-3 {
    display: grid;
    grid-template-rows: auto;
}

.p-row {
    border: solid 1px white;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
}

.p-name {
    padding-right: 10px;
    border-right: solid 1px white;
}