.menu-pizze {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.sec2-menu {
    background-image: url("/images/section2.png");
    background-size:50%;
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode:lighten;
}

.sec2-menu span{
    background-color: rgb(54, 53, 53, 0.7);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.col-1 {
    display: grid;
    grid-template-rows: auto;
    z-index: 3;
}

.p-row:hover{
    background-color: var(--secondary);
    cursor:pointer;
}

.p-row {
    border: solid 1px var(--secondary);
    height: auto;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-name {
    padding-right: 10px;
    border-right: solid 1px var(--secondary);
}

.p-name, .p-ingr, .p-price {
    display: flex;
    align-items: center;
}

.bianTit {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 56px;
    display: flex;
    justify-content: center;
}

.bianche {
    background-color: rgb(54, 53, 53, 0.7);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.clap {
    height: 30%;
    width: 30%;
    position: absolute;
    z-index: 1;
}