:root {
/* FONT */
--mainFont:'Montserrat Alternates', sans-serif;
--secFont: 'Uchen', serif;
--secFont:"";
/* COLORS */
--primary: rgb(26, 26, 26) ;
--secondary: rgb(54, 53, 53);
--background-opacity:rgba(54, 53, 53, 0.61); 
--fcolor: rgb(249, 249, 249);
scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--mainFont);
    font-size: larger;
}

section {
    height: auto;
    border-bottom: solid 5px black;
    color: var(--fcolor);
    background-color: var(--primary);
    padding-bottom: 100px;
    
}

.sec-container {
    display: grid;
    /* height: inherit; */
    /* grid-template-columns: 10% 40% 40% 10%; */
    color: var(--fcolor);
}

.sp-left {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    text-shadow: 2px 7px 10px rgb(0, 0, 0);
}

.sec1-title {
    display: grid;
    justify-content: center;
    font-size: 60px;
    
}

.payoff {
    background-color: var(--background-opacity);
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-blend-mode: soft-light;
}

.sec1-payoff {
    display: flex;
    font-size: 45px;
    padding: 100px;
    justify-content: center;
    text-align: center;
}

footer{
    display: grid;
    grid-template-columns: 10% 2fr 2fr 2fr 10%;
    background-color: var(--secondary);
    color: var(--fcolor);
    
}

a {
    text-decoration: none;
    color: var(--fcolor);
    scroll-behavior: smooth;
}


.foo-el {
    display: grid;
    justify-content: center;
    /* margin-left: 10px; */
    padding: 10%;
}

.nav-container {
    display: grid;
    grid-template-columns: 10% 2fr 4fr 10%;
    background-color: var(--secondary);
}


.hide {
    visibility: hidden;
}


.nav-menu a {
    margin-left: 5vw;
}

.nav-menu2 {
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    display: grid;
    justify-content: center;
}   


.section1 {
    background-color: var(--secondary);
    background-image: url(/images/section1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    background-position: center;
    height: 74.3vh;
}

.filler {
    display: flex;
    justify-content: center;
}

.btnMenu {
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: xx-large;
    color: var(--fcolor);
    background-color: var(--secondary);
    border-radius: 15px;
    cursor: pointer;
}

.nav-container2 {
    visibility: hidden;
    height: 0;
}

.fa-bars , .fa-xmark {
    opacity: 0;
}

.section2 {
    /* background-color: var(--primary); */
    background-image: url(/images/clap.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-position: end;
    display: grid;
    /* justify-content: center; */
    justify-items: center;
    grid-template-rows: auto;
    padding-top: 50px;    
}

.periodo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.orario-title {
    font-size: xx-large;
}
.orario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    padding-top: 5px;
}

.weekDays{
    display: grid;
    justify-content: center;
    padding: 15px;
    width: 200px;
    padding-left: 25px;
}

.hoursMorning , .hoursAfternoon {
    display: grid;
    justify-content: center;
    padding: 15px;
    width: 100;
}

.sec2-title {
    display: grid;
    justify-content: center;
    background-color: var(--primary);
    color: var(--fcolor);
    font-size: 56px ;
    padding-top: 200px;
    padding-bottom: 95px;
}

.menu-container {
    display: grid;
    grid-template-rows: 30px 1fr;
}

/* 
.sec2-picbox {
    background-image: url(/public/images/section2.jpeg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

} */

/* .section3 {
    background-color: var(--primary);
    
} */

.footer {
    padding-top: 40px;
    padding-bottom: 30px;
}



.fa-sun, .fa-moon {
    position: absolute;
    padding-top: 2px;
    padding-left: 2px;
    color: white;
}

.logo-img {
    display: flex;
    justify-self: center;
    align-content: center;
    height: 200px;
    width: 450px;
    
}

.credits {
    font-size: small;
    padding-bottom: 2px;
}

.cont-cred {
    display: flex;
    justify-content: center;
}
