:root {
/* FONT */
--mainFont:'Montserrat Alternates', sans-serif;
--secFont: 'Uchen', serif;
--secFont:"";
/* COLORS */
--primary: rgb(26, 26, 26) ;
--secondary: rgb(54, 53, 53) ;
--fcolor: rgb(249, 249, 249);
}

body {
    margin: 0;
    font-family: var(--mainFont);
    font-size: larger;
}

section {
    height: auto;
    border-bottom: solid 5px black;
    color: var(--fcolor);
    background-color: var(--primary);
    padding-bottom: 100px;
}

.sec-container {
    display: grid;
    /* height: inherit; */
    /* grid-template-columns: 10% 40% 40% 10%; */
    color: var(--fcolor);
}

.sp-left {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    text-shadow: 2px 7px 10px rgb(0, 0, 0);
}

.sec1-title {
    display: grid;
    justify-content: center;
    font-size: 60px;
    
}

.sec1-payoff {
    display: grid;
    justify-content: center;
    font-size: 45px;
}


footer{
    display: grid;
    grid-template-columns: 10% 2fr 2fr 2fr 10%;
    background-color: var(--secondary);
    color: var(--fcolor);
}

a {
    text-decoration: none;
    color: var(--fcolor);
}


.foo-el {
    display: grid;
    justify-content: center;
    /* margin-left: 10px; */
}

.nav-container {

    display: grid;
    grid-template-columns: 10% 2fr 4fr 10%;
    background-color: var(--secondary);
}


.hide {
    visibility: hidden;
}


.nav-menu a {
    margin-left: 5vw;
}

.nav-menu2 {
    position: absolute;
    background-color: var(--primary);
    width: 100%;
    display: grid;
    justify-content: center;
}   


.section1 {
    background-color: var(--secondary);
    background-image: url(/images/section1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-position: center;
    
}


.nav-container2 {
    visibility: hidden;
    height: 0;
}

.fa-bars , .fa-xmark {
    opacity: 0;
}

.section2 {
    background-color: var(--primary);

}

.sec2-title {
    display: grid;
    justify-content: center;
    background-color: var(--primary);
    color: var(--fcolor);
    font-size: 56px ;
    padding-top: 200px;
    padding-bottom: 95px;
}

.menu-container {
    display: grid;
    grid-template-rows: 30px 1fr;
}

/* 
.sec2-picbox {
    background-image: url(/public/images/section2.jpeg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

} */

.section3 {
    background-color: var(--primary);
    
}

.footer {
    padding-top: 40px;
    padding-bottom: 30px;
}



.fa-sun, .fa-moon {
    position: absolute;
    padding-top: 2px;
    padding-left: 2px;
    color: white;
}
